<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="table table-bordered table-hover">
        <caption>
          <h3>Patients</h3>
        </caption>
        <tr>
          <td colspan="4">
            <%= link_to 'Add New Patient', {:controller => 'patient', :action => 'create'}, :class => 'btn btn-success' %>
          </td>
        </tr>
        <tr>
          <th>MRN</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Actions</th>
        </tr>
        <% @patients.each do |patient| %>
            <tr>
              <td>
                <%= patient['MRN'].to_s.upcase %>
              </td>
              <td>
                <%= patient['first_name'] %>
              </td>
              <td>
                <%= patient['last_name'] %>
              </td>
              <td>
                <%= link_to('Show', {:controller => 'patient', :action => 'show', :id => patient['id']}, :class => 'btn btn-default') %>
                <%= link_to('Edit', {:controller => 'patient', :action => 'edit', :id => patient['id']}, :class => 'btn btn-warning') %>
                <%= link_to('Destroy', {:controller => 'patient', :action => 'destroy', :id => patient['id']}, :class => 'btn btn-danger') %>
              </td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
