<div class="form-group">
  <%= label_tag(:encounter_visit_number, "Visit Number") %>
  <%= enc.text_field :visit_number, :class => 'form-control' %>
</div>

<div class="form-group">
  <%= label_tag(:encounter_admitted_at, "Admitted At") %>
  <%= enc.text_field :admitted_at, :class => 'form-control datepicker', :value => @enc.admitted_at == nil ? '' : @enc.admitted_at.strftime('%F') %>
</div>

<div class="form-group">
  <%= label_tag(:encounter_discharged_at, "Discharged At") %>
  <%= enc.text_field :discharged_at, :class => 'form-control datepicker', :value => @enc.discharged_at == nil ? '' : @enc.discharged_at.strftime('%F') %>
</div>

<div class="form-group">
  <%= label_tag(:encounter_location, "Location") %>
  <%= enc.text_field :location, :class => 'form-control' %>
</div>

<div class="form-group">
  <%= label_tag(:encounter_room, "Room") %>
  <%= enc.text_field :room, :class => 'form-control' %>
</div>

<div class="form-group">
  <%= label_tag(:encounter_bed, "Bed") %>
  <%= enc.text_field :bed, :class => 'form-control' %>
</div>

<br><br>

<% if not @enc.errors.empty? %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span> Enter a valid
      <% if @enc.errors.has_key?(:visit_number) %><b>Visit Number</b><% end %>
      <% if @enc.errors.has_key?(:admitted_at) %><b>, Admission date</b><% end %>
    </div>
<% end %>

<script>
    initDatePicker();
</script>