<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2>Create new Encounter for : <%= "#{@patient.first_name} #{@patient.last_name}" %></h2>
      <%= link_to 'Back to List', {:controller => 'patient', :action => 'show', :id => @patient.id} %>
      <hr>


      <%= form_for @enc, url: {:action => 'save'}, html: {class: 'form-inline'} do |enc| %>
          <%= render :partial => 'form_elements', :locals => {:enc => enc} %>

          <%= enc.submit 'Submit', :class => 'btn btn-success' %>
          <%= link_to 'Cancel', {:controller => 'patient', :action => 'show', :id => @patient.id}, :class => 'btn btn-default' %>
      <% end %>

    </div>
  </div>
</div>
