<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-offset-2">
      <h2>
        Visit <%= @enc.visit_number %> : <%= "#{@enc.patient['first_name']} #{@enc.patient['last_name']}" %>
      </h2>
      <%= link_to 'Back to List', {:controller => 'patient', :action => 'show', :id => @enc.patient.id} %>
      <hr>

      <small>
        <%= link_to 'Edit', {:action => 'edit'} %>
      </small>
      <p>
        <b>Visit #:</b> <%= @enc.visit_number %>, <b>Admission date :</b> <%= @enc.admitted_at.strftime('%F') %>
        <% if @enc.discharged_at != nil %>
            , <b>Discharged on :</b> <%= @enc.discharged_at.strftime('%F') %>
        <% end %>
        <% if @enc.location != '' && @enc.location != nil %>
            , <b>At :</b> <%= @enc.location %>
        <% end %>
        <% if @enc.room != '' && @enc.room != nil %>
            , <b>Room # :</b> <%= @enc.room %>
        <% end %>
        <% if @enc.bed != '' && @enc.bed != nil %>
            , <b>Bed # :</b> <%= @enc.bed %>
        <% end %>
      </p>

    </div>
  </div>
</div>
