<div class="form-group">
  <%= label_tag(:patient_first_name, "First Name") %>
  <%= f.text_field :first_name, :class => 'form-control' %>
</div>

<div class="form-group">
  <%= label_tag(:patient_middle_name, "Middle Name") %>
  <%= f.text_field :middle_name, :class => 'form-control' %>
</div>

<div class="form-group">
  <%= label_tag(:patient_last_name, "Last Name") %>
  <%= f.text_field :last_name, :class => 'form-control' %>
</div>

<div class="form-group">
  <%= label_tag(:patient_weight, "Weight") %>
  <%= f.text_field :weight, :class => 'form-control' %>
</div>

<div class="form-group">
  <%= label_tag(:patient_height, "Height") %>
  <%= f.text_field :height, :class => 'form-control' %>
</div>

<div class="form-group">
  <%= label_tag(:patient_MRN, "MRN") %>
  <%= f.text_field :MRN, :class => 'form-control' %>
</div>

<br>
<br>

<% if not @patient.errors.empty? %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span> Enter a valid
      <% if @patient.errors.has_key?(:first_name) %><b>first name</b><% end %>
      <% if @patient.errors.has_key?(:last_name) %><b>, last name</b><% end %>
      <% if @patient.errors.has_key?(:weight) %><b>, weight</b><% end %>
      <% if @patient.errors.has_key?(:height) %><b>, height</b><% end %>
      <% if @patient.errors.has_key?(:MNR) %><b>, MNR</b><% end %>
    </div>
<% end %>