<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2>Create new Patient</h2>
      <%= link_to 'Back to List', {:controller => 'home', :action => 'index'} %>
      <hr>


      <%= form_for @patient, url: {:action => "save"}, html: {class: "form-inline"} do |f| %>
          <%= render :partial => 'form_elements', :locals => {:f => f} %>

          <%= f.submit 'Submit', :class => "btn btn-success" %>
          <%= link_to 'Cancel', {:controller => 'home'}, :class => 'btn btn-default' %>
      <% end %>

    </div>
  </div>
</div>
