<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-offset-2">
      <h2><%= "#{@patient['first_name']} #{@patient['last_name']}" %></h2>
      <%= link_to 'Back to List', {:controller => 'home', :action => 'index'} %>
      <hr>

      <small>
        <%= link_to 'Edit', {:action => 'edit'} %>
      </small>
      <p>Full Name: <%= "#{@patient['first_name']} #{@patient['middle_name']} #{@patient['last_name']}" %></p>
      <p>Weight: <%= @patient['weight'] %> Kg</p>
      <p>Height: <%= @patient['height'] %> cm</p>
      <p>MRN: <%= @patient['MRN'] %></p>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Patient Encounters</h3>
        </div>
        <div class="panel-body">
          <table class="table table-bordered table-hover">
            <tr>
              <td colspan="4">
                <%= link_to 'Add New Encounter', {:controller => 'encounters', :action => 'create', :patient_id => @patient.id}, :class => 'btn btn-success' %>
              </td>
            </tr>
            <tr>
              <th>Visit number</th>
              <th>Admitted At</th>
              <th>Discharged At</th>
              <th>Actions</th>
            </tr>
            <% @patient.encounters.each do |encounter| %>
                <tr>
                  <td>
                    <%= encounter['visit_number'].to_s.upcase %>
                  </td>
                  <td>
                    <%= encounter['admitted_at'].strftime('%F') %>
                  </td>
                  <td>
                    <%= encounter['discharged_at'] == nil ? '' : encounter['discharged_at'].strftime('%F') %>
                  </td>
                  <td>
                    <%= link_to('Show', {:controller => 'encounters', :action => 'show', :id => encounter.id}, :class => 'btn btn-default') %>
                    <%= link_to('Edit', {:controller => 'encounters', :action => 'edit', :id => encounter.id}, :class => 'btn btn-warning') %>
                    <%= link_to('Destroy', {:controller => 'encounters', :action => 'destroy', :id => encounter.id}, :class => 'btn btn-danger') %>
                  </td>
                </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
