<div class="container-fluid">

  <div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Delete Patient Info</h3>
      </div>
      <div class="panel-body">
        You are about to delete information for <b><%= "#{@patient.first_name} #{@patient.last_name}" %></b>!
        <br>
        <br>
        <br>
        Proceed : <%= link_to 'Yes', {:action => 'delete'}, :method => 'delete', :class => 'btn btn-danger' %>
        <%= link_to 'No', {:controller => 'home', :action => 'index'}, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>

</div>